@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

.App{
  background-color: rgb(172,187,239);
  height: 100vh;
  width: auto;
  padding-top: 40px;
  font-family: 'Share Tech Mono', monospace;
}

.btn-min{
  background-color: rgb(8,79,95);
  border: none;
  cursor: pointer;
}
.btn-colored{
  background: green;
}
.btn-colored-break{
  background: orange;
}

i{
  cursor: pointer;
}
.min{
  cursor: crosshair;
  color: rgb(255,255,255);
}
.count {
  font-size: 20px;
  font-weight: bold;
  color: rgb(239,224,172);
}
