.Display{
  height: 180px;
  width:  180px;
  background: linear-gradient(to bottom leftt, #084FA1 65%, #084FA1 75%, #084FA1 75%, #EFE0AC 100%);
  margin: 0 auto;
  /*box-shadow: 0 1px 0px 2px #000;*/
  border-radius: 50%;
  z-index: 1000;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 0 0 3px #08595f;
}

.timer{
  margin: 0 auto;
  color: rgb(172,187,239);
  font-size: 20px;
}
