.Footer p{
  color: #000;
  font-size: 18px;
  margin-top: 20px;
}
.Footer .fa-twitter{
  color: #0084b4;
}

.Footer .fa-github{
  color: green;
}

.Footer .fa-linkedin{
  color: #0077B5;
}
.Footer a {
  color: #101456;
}
