.Wrap{
  background-color: rgb(8,79,95);
  height: 50px;
  float: none;
  margin: 0 auto;
  box-shadow: 2px 2px 0px 2px #000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.Wrap button{
  margin: 5px auto;
  width: 80px;
  font-size: 12px;
}
.Wrap button:nth-child(2){
  margin-left:5px;
  margin-right: 5px;
}

.Wrap i{
  margin: 5px auto;
  font-size: 40px;
  color: rgb(239,224,172);
  cursor: crosshair;
}
.Wrap i:nth-child(2){
  margin-left:5px;
  margin-right: 5px;
}
